.activity .graph.vertical .line .bar {
  box-sizing: content-box;
  transform: translateY(1px);
  transform-origin: center bottom;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-name: activity;
}
.activity .graph.vertical .line .bar:hover {
  animation-name: none;
  transform: none;
}
.activity .graph.vertical .line:nth-of-type(6n+2) .bar {
  animation-delay: -0s;
}
.activity .graph.vertical .line:nth-of-type(6n+4) .bar {
  animation-delay: -0s;
}
.activity .graph.vertical .line:nth-of-type(6n+3) .bar {
  animation-delay: -0s;
}
.activity .graph.vertical .line:nth-of-type(6n+6) .bar {
  animation-delay: -0s;
}
.activity .graph.vertical .line:nth-of-type(6n+5) .bar {
  animation-delay: 0s;
}
@keyframes activity {
  100%, 100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(7px);
  }
}